@charset "UTF-8";

/****************************************

		reset.css

*****************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	text-decoration:none;
	}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
	}

img { border: none;line-height:0; }
ul,ol { list-style: none; }
code { color:#000099; font-family:"Courier New",Courier,monospace; }
blockquote {
	margin: 1em 2em;
	padding: .5em 1em;
	background-color: #eee;
	font-style:italic;
	}
small { font-size: 80%; }
.clear { clear: both; }
.hide { display: none; }

/*** For Firefox removing dotted line links **
:focus{ -moz-outline-style: none; }*/

body { line-height: 1; }
